* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}

body {
    background: #fff;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: linear-gradient(to right, #ff4da6, #ff99cc);
    color: white;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    background: #ffe6f0;
}

.hero-text {
    max-width: 500px;
}

.hero-text h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero-text p {
    margin-bottom: 20px;
}

.hero button {
    padding: 12px 25px;
    background: #ff3399;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.hero-img img {
    width: 300px;
    border-radius: 15px;
}

/* Products */
.products {
    padding: 50px;
    text-align: center;
}

.products h2 {
    margin-bottom: 30px;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    background: #fff0f5;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #ff4da6;
    color: white;
}

/* Responsive */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-img img {
        margin-top: 20px;
        width: 200px;
    }
}